data_dir: "{{ role_vector_data_dir }}"

api:
  enabled: true
  address: "0.0.0.0:{{ role_vector_port }}"

sources:
  dummy_logs:
    type: "demo_logs"
    format: "syslog"
    interval: 1

transforms:
  parse_logs:
    type: "remap"
    inputs: ["dummy_logs"]
    source: |
      . = parse_syslog!(string!(.message))

# sinks:
#   print:
#     type: "console"
#     inputs:
#       - parse_logs
#     encoding:
#       codec: "json"

sinks:
  clickhouse:
    inputs:
      - "var_logs"
    type: "clickhouse"
    endpoint: "{{ role_vector_endpoint_clickhouse }}"
    database: "{{ role_vector_endpoint_clickhouse_database }}"
    table: "{{ role_vector_endpoint_clickhouse_table }}"